{% extends 'base.html'%} {% import 'macros.html' as macro%} {% import 'bootstrap/wtf.html' as wtf %} {% block styles%} {{ super() }}
<!--super() function tells Jinja not to override any code that is defined in the block-->
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}
<br>

    <div class="container" style= "">
        <br> <br> <br>
        <div class=" row ">
            <br>
            <div class="col-md-6 ">
                <img src="/static/photos/dinner8.jpg " style="margin-right: 100%; height:500px; ">
            </div>
            <br>
            <div class="col-md-6 ">
                <p  style="font-size: 20px; float:-400px; "> <strong style="font-size: 60px;">T</strong>here are times that dinnerware are not just used for serving food or for eating. It is sometimes locked in a cabinet arranged properly with a specially designed rack to hold them in place.Those plates are valuable and never been used and just for a display because it is a collection and costs a fortune.Dinnerware sets or dishes nowadays have different forms and types that serve different purposes. So, make sure that if you are buying one it should fit your need whether it will be used or just for a display.</p>
            </div>
        </div>

        <br> <br>
        <div class="row ">
        <br>
            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner2.jpg " alt=" " height=300px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/breaktime" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>

            <br> <br> 
            <br> <br> <br> <br>

            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner5.jpg " alt=" " height=320px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/timeforwork" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>
            <br> <br> <br> <br><br><br>

            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner6.jpg " alt=" " height=380px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/timeforwork" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>
            
    </div>
{% endblock %}