{% extends 'base.html'%} {% import 'macros.html' as macro%} {% import 'bootstrap/wtf.html' as wtf %} {% block styles%} {{ super() }}
<!--super() function tells Jinja not to override any code that is defined in the block-->
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}
<br>
<div class="container-fluid" >
    <div class="container">
        <br> <br> <br>
        <div class=" row ">
            <br>
            <div class="col-md-6 ">
                <img src="/static/photos/dinner1.jpg " style="margin-right: 100%; height:380px; ">
            </div>
            <br>
            <div class="col-md-6 ">
                <p  style="font-size: 20px; float:-400px; "> <strong style="font-size: 60px;">T</strong>he mind can only take so much before it becomes overloaded by too much data or activity, which can ultimately lead to stress. Regularly skipping a lunch break can cause stress and fatigue to sneak up on the employee, resulting in a sudden loss of zeal for his job duties. Stressing about an issue at work can cause the employee to display negative behavior, such as irritability and hopelessness. Once stress begins to build, the employee should take a quick break away from the issue and revisit it once his mental state is intact again. </p>
            </div>
        </div>

        <br> <br>
        <div class="row ">
            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner2.jpg " alt=" " height=300px;>
                    <h3></h3>
                    <p></p>
                    <a href="/breaktime" class="btn btn-primary -center ">View</a>
                </div>
            </div>

            <br> <br> 
            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="app/static/photos/dinner4.jpg " alt=" " height=230px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/worksession" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>
            <br> <br> <br> <br>

            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner5.jpg " alt=" " height=200px;>
                    <h3></h3>
                    <p></p>
                    <a href="/timeforwork" class="btn btn-primary -center ">View</a>
                </div>
            </div>
            <br> <br> <br> <br><br><br>

            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner6.jpg " alt=" " height=200px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/timeforwork" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/dinner7.jpg " alt=" " height=200px;>
                    <h3></h3>
                    <p></p>
                    <a href="/timeforwork" class="btn btn-primary -center ">View</a>
                </div>
            </div>
            <br> <br> <br> <br><br> <br>

            <div class="col-md-4 ">
                <div class="well well-lg ">
                    <img src="/static/photos/work1.jpg " alt=" " height=200px;>
                    <h3></h3>
                    <p></p>
                    <!-- <a href="/timeforwork" class="btn btn-primary -center ">View</a> -->
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}